.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    /* background-color: green; */
}
.cards .card {
    height: 100%;
    width: 100%;
    /* outline: 1px solid black; */
}
.cards .card img {
    height: 50%;
}
.cards .card a {
    margin-top: 1em;
}

@media only screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 992px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
